
/* HEADER */

.icon {
    border-radius: 50%;
}
.logocenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    list-style-type: none;
    display: flex;    
    justify-content: space-evenly;
}

/* HEADLINE BANNER */

.hl-banner {
    height: 40vh;
    background-image: url("stonehaven.png");
    background-size: cover;    
}
.headline {
    font-family: 'Anton', sans-serif;
    margin-top: 9rem;
}

/* CORE COMPENTENCIES BANNER */

.core-comps {
    background-image: url("stonehaven.png");
    background-size: cover;  
}
.cc-text {
    height: 15vh;
}
.cc-photos {
    height: 30vh;    
}
.cc-photo {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

/* FOOTER */

footer {
    height: 15vh;
}
.flex-right {
    display: flex;    
    justify-content: flex-end;
    align-items: center;
}
.flex-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer li {
    margin-left: 1em;
}

/* BACKGROUNDS AND HELPER CLASSES */

.gv {
    background-image: url("globalvigilance.jpg");    
}
.gr {
    background-image: url("globalreach.jpg");    
}
.gp {
    background-image: url("globalpower.jpg");    
}
.text-white {
    color: white;
}
.bg-afblue {
    background-color: rgb(51, 51, 145);
    color: silver;
}
.bg-afblue li a {
    color: silver;
}
li a:hover {
    color: white;
}
.med-font {
    font-size: 2em;
}
.img-cont img {
    max-width: 100%;
}




